@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background-gradient{
	background-image: radial-gradient(ellipse at 40% 50%, #2e4263 20%, transparent 50%), radial-gradient(ellipse at 55% 30%, #ab85e4 0%, #0E1119 55%);
}

.icon-hover{
	@apply grayscale opacity-30 group-hover:opacity-100 group-hover:grayscale-0
}

.rtl{
	direction: rtl;
}

.ltr{
	direction: ltr;
}

.bold-gradient-text{
	@apply font-extrabold bg-gradient-to-r text-transparent bg-clip-text from-purple-300 to-blue-300
}