@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background-gradient{
	background-image: radial-gradient(ellipse at 40% 50%, #2e4263 20%, transparent 50%), radial-gradient(ellipse at 55% 30%, #ab85e4 0%, #0E1119 55%);
}

.projects-background-gradient{
	/* background-image: radial-gradient(ellipse at -20% 29%, #2e4263 0%, transparent 30%), radial-gradient(circle at 110% 50%, #492b75 0%, #0E1119 40%) */
	/* background-image: linear-gradient(#0E1119, #ab85e4); */
	/* background-image: radial-gradient(ellipse at 40% 80%, #2e4263 20%, transparent 50%), radial-gradient(ellipse at 55% 70%, #ab85e4 0%, #0E1119 55%); */
}

.icon-hover{
	@apply grayscale opacity-30 group-hover:opacity-100 group-hover:grayscale-0
}

.rtl{
	direction: rtl;
}

.ltr{
	direction: ltr;
}

.bold-gradient-text{
	@apply font-extrabold bg-gradient-to-r text-transparent bg-clip-text from-purple-300 to-blue-300
}

.swiper {
		/* width: 100%;
		height: 100%; */
		position: static;
	}

.swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide{
	@apply text-white
}

.swiper-button-next, .swiper-button-prev {
    /* position: static; */
	all:revert;
	content: "";
	@apply text-white w-16 h-16 pt-2 px-1 rounded-md hover:bg-gradient-to-br from-red-500 to-yellow-300 text-center 
	text-3xl content-none
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}